<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
      <key>provisioningProfiles</key>
      <dict>
        <key>com.dgnx.usdol.dev</key>
        <string>USDOL-DEV-PROVISIONING</string>
      </dict>
      <key>method</key>
      <string>ad-hoc</string>
      <key>teamID</key>
      <string>L7CB7J73MW</string>
  </dict>
</plist>
