<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638341119217-2qab5vp6ik9mpfoouc9ttqrq0rg9e1sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638341119217-2qab5vp6ik9mpfoouc9ttqrq0rg9e1sd</string>
	<key>API_KEY</key>
	<string>AIzaSyAPxZMvU0OvI2wghnSchm0GNS-4GSN7ELo</string>
	<key>GCM_SENDER_ID</key>
	<string>638341119217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dgnx.usdol.dev</string>
	<key>PROJECT_ID</key>
	<string>usdol-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>usdol-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638341119217:ios:da882dccf8ff4c7355bd50</string>
</dict>
</plist>